@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
  font-family: 'Sriracha', cursive;
  margin: 0;
  overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.page1{
    width: 100vw;
    height: 100vh;
}
.page1 video{
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.page1 h1{
    position: absolute;
    color: #A5EB83;
    font-size: 4rem;
    margin: 8% 0 0 8%;
}
.page1 p{
    position: absolute;
    color: greenyellow;
    margin: 16% 0 0 8%;
}
.page1 .btn{
    position: absolute;
    font-size: 1em;
    color: black;
    text-decoration: none;
    border: 2px solid #A5EB83;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    width: 24vh;
    height: 8vh;
    margin: 24% 0 0 8%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page1 .btn a{
    text-decoration: none;
    color: black;
}
.page1 .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24vh;
    height: 8vh;
    background: greenyellow;
    z-index: -2;
}
.page1 .btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24vh;
    height: 8vh;
    background: green;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}
.page1 .btn:hover::after{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.page1 .btn a:hover{
    color: white;
}

.page2{
    width: 100vw;
    height: 250vh;
}
.space{
    margin: 0 0 0 2em;
}
.page2 img{
    position: absolute;
    width: 100vw;
    height: 250vh;
    z-index: -1;
    transition: transform 0.5s ease-in-out;
    transform: rotateY(0);
}
.page2 .base{
    position: absolute;
    width: 96vw;
    height: 246vh;
    background: hsla(0, 0%, 100%, 40%);
    border-radius: 12px;
    z-index: -1;
    margin: 2vh 0 0 2vw;
}
.page2 .unit1{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 50vh;
    font-size: 1.2rem;
    font-weight: 900;
}
.unit1 img{
    position: relative;
    width: 30vw;
    height: 40vh;
    z-index: 1;
    border: 4px solid white;
}
.unit1 .text{
    position: relative;
    width: 60vw;
}

.page2 .unit2{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 150vh;
}
.unit2 img{
    position: relative;
    width: 30vw;
    height: 40vh;
    z-index: 1;
    border: 4px solid white;
}
.unit2 .text{
    position: relative;
    width: 60vw;
    font-size: 1.2rem;
    font-weight: 900;
}

.page2 .unit3{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 200vh;
}
.unit3 .text{
    position: relative;
    width: 90vw;
    font-size: 1.2rem;
    font-weight: 900;
}

.page2 .unit4{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 250vh;
}
.unit4 img{
    position: relative;
    width: 30vw;
    height: 40vh;
    z-index: 1;
    border: 4px solid white;
}
.unit4 .text{
    position: relative;
    width: 60vw;
    font-size: 1rem;
    font-weight: 900;
}

.page2 .unit5{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 300vh;
}
.unit5 .text{
    position: relative;
    width: 90vw;
    font-size: 1.2rem;
    font-weight: 900;
}
.page3{
    width: 100vw;
    height: 100vh;
    background: url(img/bg3.png);
    background-size: cover;
}
.page3 h1{
    margin-top: 2%;
    text-align: center;
}
.forms{
    position: relative;
    width: 80vw;
    height: 40vh;
    background: hsla(0, 0%, 70%, 50%);
    border-radius: 12px;
    left: 10vw;
    top: 4vw;
}
.f-name{
    width: 24vw;
    height: 4vh;
    background: transparent;
    margin: 2%;
    border-radius: 12px;
    outline: none;
    color: black;
    background: hsla(0, 0%, 100%, 50%);
    border: none;
}
.f-name::placeholder{
    color: hsla(175, 0%, 20%, 70%);
    font-weight: 900;
}
.page3 .input{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 12px;
    background: hsla(0, 0%, 70%, 50%);
    left: 30vw;
    top: 20vh;
    width: 40vw;
    height: 10vh;
}
.page3 .text-p{
    position: absolute;
    width: 50vw;
    margin-top: 2vh;
    left: 16vw
}
.input .btn{
    position: relative;
    width: 10vw;
    height: 6vh;
}
.btn .a{
    font-size: 1em;
    width: 10vw;
    height: 6vh;
    color: black;
    text-decoration: none;
    border: 2px solid #A5EB83;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    background: transparent;
    position: absolute;
    z-index: 1;
}
.btn .a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: greenyellow;
    z-index: -2;
  }
.btn .a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
.btn .a:hover::after{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.btn .a:hover{
    color: white;
}
.page3 .notice{
    margin: auto;
    width: 30vw;
    height: 40vh;
    background: hsla(0, 0%, 100%, 80%);
    border-radius: 12px;
    transition: transform 0.5s ease-in-out;
    transform: scale(0);
    transform-origin: center;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notice img{
    width: 8vw;
    height: 14vh;
}
.dis{
    text-align: center;
    position: relative;
    width: 8vw;
    height: 6vh;
    background: green;
    color: white;
    margin-top: 1%;
    border-radius: 4px;
}